<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather condition</p>
        <form>
            <input type="text" placeholder="Location">
           <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
  
    {{>footer}}
    <script src="/js/use.js"></script>
</body>
</html>